<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstBench</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionStudent</display-name>
    <servlet-name>RegisterActionStudent</servlet-name>
    <servlet-class>RegisterActionStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionStudent</servlet-name>
    <url-pattern>/RegisterActionStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionFaculty</display-name>
    <servlet-name>RegisterActionFaculty</servlet-name>
    <servlet-class>RegisterActionFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionFaculty</servlet-name>
    <url-pattern>/RegisterActionFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadServlet</display-name>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>uploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginActionStudent</display-name>
    <servlet-name>LoginActionStudent</servlet-name>
    <servlet-class>LoginActionStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginActionStudent</servlet-name>
    <url-pattern>/LoginActionStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginActionFaculty</display-name>
    <servlet-name>LoginActionFaculty</servlet-name>
    <servlet-class>LoginActionFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginActionFaculty</servlet-name>
    <url-pattern>/LoginActionFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginActionAdmin</display-name>
    <servlet-name>LoginActionAdmin</servlet-name>
    <servlet-class>LoginActionAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginActionAdmin</servlet-name>
    <url-pattern>/LoginActionAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addmarks</display-name>
    <servlet-name>addmarks</servlet-name>
    <servlet-class>addmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmarks</servlet-name>
    <url-pattern>/addmarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotes</display-name>
    <servlet-name>UploadNotes</servlet-name>
    <servlet-class>UploadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotes</servlet-name>
    <url-pattern>/UploadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadQuiz</display-name>
    <servlet-name>UploadQuiz</servlet-name>
    <servlet-class>UploadQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadQuiz</servlet-name>
    <url-pattern>/UploadQuiz</url-pattern>
  </servlet-mapping>
</web-app>